*.git
ignore
node_modules
/**/node_modules/
/**/mode_modules/
/**/dist/
!dist
*.apk
*.apk.1
*.log
*.exe
*.zip
*.rar
*.7z
*.gz
*.dmg
*.iso
*.dex
*.so

*.mp4
*.avi
*.mp3
*.flac
*.aac
*.wav
*.psd
*.aep
*.mhtml
.cache/*
*.pack
*.xlsx
*.docx
*.pdf

*.so
*.so.id0
*.so.id1
*.so.nam
*.so.til
*.dmp
*.dat